.portal-page-header{
	padding: 1%;
    background: #1a1a2b;
    color: #afb334;
    position:absolute; top:0px; left:0px; height:80px; right:0px;overflow:hidden;

}

.portal-page-heading{
	font-size: 25px;
}