<div class="add-new-content">
	
  <div class="container">
  <h2>Add new candidate</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="email" class="form-control" id="name" name="name" [(ngModel)] = "newUser.name">
    </div>
    <div class="form-group">
      <label for="qual">Qualification:</label>
      <input type="text" class="form-control" id="qual" name="qual" [(ngModel)] = "newUser.qualification">
    </div>
    <div class="form-group">
      <label for="skill">Technical Skill:</label>
      <input type="text" class="form-control" id="skill" name="skill" [(ngModel)] = "newUser.skill">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="number" class="form-control" id="phone" name="phone" [(ngModel)] = "newUser.phone">
    </div>
    <button type="submit" class="btn btn-default" (click)="sendData()" [disabled] = "!newUser.name.length">Submit </button>
  </form>
</div>




</div>

